.my-projects-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
  }
  
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .sort-by {
    display: flex;
    align-items: center;
  }
  
  .sort-by label {
    margin-right: 0.5rem;
  }
  
  .dashboard-section {
    margin-bottom: 2rem;
  }