.public-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
}

.welcome-content {
  max-width: 600px;
  padding: 20px;
  padding-top: 200px;
}

.welcome-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.welcome-content p {
  font-size: 1.25rem;
  color: #555;
}
