/* SignupPage.css */

.signup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  box-sizing: border-box;
  background: #f8f9fb;
}

.signup-page .signup-form-container {
  max-width: 1080px;
  margin: 48px auto 0 auto;
  padding: 0 0 30px 0;
  border-radius: 0;
  box-shadow: none;
  width: 75%;
  max-width: 1200px;
  box-sizing: border-box;
}

.signup-page .signup-title,
h1.signup-title {
  font-size: 24px;
  padding-top: 50px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 40px auto 24px auto;
  letter-spacing: -1px;
  max-width: 95%;
}

.signup-page .signup-title .highlight {
  color: #3b8223;
}

/* Responsive adjustments for container and title */
@media (max-width: 768px) {
  .signup-page .signup-form-container {
    width: 90%; /* Wider on mobile devices */
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .signup-page .signup-form-container {
    width: 95%;
    padding: 10px;
  }
  .signup-page .signup-title {
    font-size: 1.3rem;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}
