body {
  margin: 0;
  background: #FFFFFF;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root {
    --primary-btn: #1F5378;
    --primary-btn-label: #FFFFFF;
    --primary-btn-hover: #18425F;
    --secondary-btn: #3B8223;
    --secondary-btn-label: #FFFFFF;
    --secondary-btn-hover: #2E5C1A;
    --link: #366ADA;
    --input-bg: #F7F7FA;
    --input-border: #000000;
    --header-bg: #EEF1F8;
    --header-text: #000000;
    --success: #01B375;
    --warning: #E5A932;
    --error: #CD3333;
  }  

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
